<html>
<head>
  {{>header}}
</head>
<body>
<h1>{{title}}</h1>
<div class="text-right" style="margin-bottom: 1em;">
  {{^user}}
  <a id="login" href="/register" class="btn btn-primary">
      Register
  </a>
  <a id="login" href="/login" class="btn btn-primary">
      Sign in
  </a>
  {{/user}}
  {{#user}}
  <a id="logout" href="/logout" class="btn btn primary">
      Sign out
  </a>
  {{/user}}
  <a href="/new" class="btn btn-primary">
    Write in the guestbook
  </a>
</div>
{{#entries}}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{subject}}</h4>
    <p class="card-text">
      {{contents}}
     </p>
<div class="card-footer">
  <p>Written by <a href="/posts/{{author}}">{{author}}</a> , on {{published}}</p>
</div>
</div>
{{/entries}}

{{^entries}}
  No entries yet.
{{/entries}}
</body>
</html>


